.container {
  
  min-height: 100vh;
  border: solid 1px black;
  text-align: center;
  border: solid 1px red;
  padding: 20px;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
